div {
    color: red;
    font-size: 20px;
    border: 2px solid black;
    background-color: lightblue;
    padding: 10px;
}



#banner {
    background-color: yellow;
}




.box {
    border: 2px solid black;
}




.main p {
    color: blue;
    font-size: 20px;
}


.red-text {
    color: red;
}

#title {
    color: blue;
}