.neongreen {
    background-color: greenyellow;
}


.red {
    background-color: red;
}

.goldenbrown {
    background-color: rgb(168, 101, 0);
}


.idk {
    background-color: #8EBC8E;
}


.lightblue {
    background-color: #00BFFE;
}

.purple {
    background-color: #8C008B;
}

.yellow {
    background-color: #FBFB7F;
}

#dark {
    background-color: #564F92;
}