table {
    width: 98%;
    border-collapse: collapse;
    font-family: Arial;
}

th {
    background-color: #00a087;
    color: white;
    text-align: left;
    height: 44px;
}

td {
    height: 44px;
}

.gray {
    background-color: #ddd;
}