* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#head > div {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    gap: 24px;
    background-color: #f8f9fa;
}


#nav1 {
    font-size: 24px;
    font-weight: 500px;
    margin-right: auto; 
}


#nav2, #nav3, #nav4, #nav5, #nav6 {
    cursor: pointer;
    color: #333333;
    font-size: 16px;
}


#nav7, #nav8 {
    cursor: pointer;
    color: #666666;
    font-size: 16px;
}