@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    background-color: lightgray;
    font-family: 'poppins';
}



#head {
    width: 100%;
    height: 90px;
    background-color: rgb(143, 158, 158);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    font-size: 20px;
    color: yellow;
    

}

#menu   :hover {
     color: rgb(114, 106, 12);;
}


#cars:hover {
    color: rgb(114, 106, 12);
}


#set:hover {
    color: rgb(114, 106, 12);
}





#cat {
    color: rgb(140, 181, 140);
    font-size: 30px;
}


img {
    width: 300px;
    height: 300px;
}


button {
    background-color: green;
}

#perf {
    color: rgb(44, 67, 44);
    background-color: cornflowerblue;
}




#next {
    border: black 1px solid;
    background-color: red;
    width: 110px;
    display: flex;
    justify-self: self-end;
   
    
}

#pr {
    border: black 1px solid;
    background-color: red;
    width: 110px;
    display: flex;
    justify-self: self-start;
    position: relative;
    top: 25px;
}